<!Doctype HTML>
<html>
    <head>
        <title>Chat App</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <% include ./navbar.ejs %>