<% include ./partials/header %>

<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <h1 class="display-4 text-center">
                Welcome <span id="username"><%=username%></span>, lets start chat !
            </h1>
            <p class="form-text text-muted text-center">
                Please mention username of receiver in front your text as @username
            </p>
            <hr>
            <div class="text-center container">
                <div class="input-group">
                <input type="text" id="chatinput" class="form-control" placeholder="@receiver_name your message..." aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button id="sendbutton" class="btn btn-success" type="button">Send</button>
                </div>
                </div>
            </div>
            <br>    
            <ul id="msgList">
                {{#each msgs as |m|}}
                <li>{{m.from}}: {{m.message}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-12 col-md-5">

        </div>
    </div>
</div>

<% include ./partials/footer %>
