<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <h1>Lets chat here <span id="username">{{username}}</span></h1>
    <h3>Please mention username of the person in your text as @username</h3>
    <a href="/signout"><button>Logout</button></a>
    <br><br>
    <input type="text" id="chatinput"> <button id="sendbutton">Send</button>
    <br>
    <ul id="msgList">
        {{#each msgs as |m|}}
        <li>{{m.from}}: {{m.message}}</li>
        {{/each}}
    </ul>
</body>
</html>