<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Hi! login here</h1>
    <form action="/login" method="POST">
        <label for="email">E-mail: <input type="email" name="email"></label>
        <label for="password">Password: <input type="password" name="password"></label>
        <button>Login</button>
    </form>
    <br>
    <h1>Didn't SignedUp ?</h1>
    <h3>Signup <a href="/">here></a></h3>
</body>
</html>