<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1 class="display-4 text-center">Signup to get started</h1>
    <div class="container">
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" name="username" class="form-control">
                <small class="form-text text-muted">People will use your username to send you messages</small>
            </div>
            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control">
            </div>
            <button class="btn btn-primary">Signup</button>
        </form>
    </div>

    <br>

    <blockquote class="blockquote text-center">
    <p class="mb-0">Already have an account ? Click the link below </p>
    <footer class="blockquote-footer"><a href="/login"> LOGIN></a></footer>
    </blockquote>
</body>
</html>