<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Enter details to signup</h1>
    <form action="/signup" method="POST">
        <label for="username">Username: <input type="text" name="username"></label>
        <label for="email">E-mail: <input type="email" name="email"></label>
        <label for="password">Password: <input type="password" name="password"></label>
        <button>Signup</button>
    </form>
    <br>
    <h1>Already SignedUp ?</h1>
    <h3>Login <a href="/login">here></a></h3>
</body>
</html>